.access{
    position: absolute;
    top: 20px;
    left: 75px;
}
.universal-access-button{
    color: #004a98;
    margin: 10px;
    cursor: pointer;
    font-size: 50px;
  }
  .universal-access-overlay{
    position: absolute;
    top: 20px;
    left: 100px;
    border: 2px solid #004a98;
    background-color: #dfe6ee;
    transform: scaleX(0);
    transform: scaleY(0);
    z-index: 1;
  }