.banner{
    position: relative;
    height: 300px;
}
.banner img{
  width: 100%;
}
.banner_overlay{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  background-color: #F1C142;
  border-bottom-left-radius: 225px;
  z-index: 2;
  -webkit-box-shadow: -3px 0px 3px -1px rgba(0,0,0,0.89); 
  box-shadow: -3px 0px 3px -1px rgba(0,0,0,0.5);
}
.banner_under_overlay{
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  width: 75%;
  background-color: #F1C142;
  border-bottom-left-radius: 225px;
  z-index: 1;
  opacity: 0.5;
}
.banner_overlay_text{
  margin-left: 20px;
}
.banner_pill_images{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
 