.social_media{
    display: flex;
    font-size: 2.5em;
}
.social_media ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.social_media ul li{
    margin: 10px;
}
.fa-search{
    color: #2d8436;
    cursor: pointer;
}
.fa-envelope{
    color: #f15353;
}
.fa-facebook-square{
    color: #004a98;
}