@import  "modules/social_media";
@import  "modules/banner";
@import "modules/nav";
@import "modules/about_section";
@import "modules/blog_section";
@import "modules/contact_section";
@import "modules/footer";
@import "modules/search";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-size: .8em;
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}
p, a{
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
    letter-spacing: 1px;
}